<p id="notice"><%= notice %></p>

<p>
  <strong>Hash:</strong>
  <%= @tx.txhash %>
</p>

<p>
  <strong>Bitcoin::Protocol::Tx:</strong>
  <%= @tx.showtx.to_hash %>
</p>

<%= link_to 'Edit', edit_tx_path(@tx) %> |
<%= link_to 'Back', tx_index_path %>
