<!DOCTYPE html>
<html>
  <head>
    <title>Bitupper</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <%= yield %>

    <p>
      <%= link_to 'Recent Blocks', block_index_path %>
      <%= link_to 'Recent Tx', tx_index_path %>
      <%= link_to 'Addresses', addresses_path %>
    </p>
  </body>
</html>
